<h1>New Criteria</h1>

<form name="criteriaform" novalidate>
	<div ng-if="!name.$valid">name required</div>
	<input type="text" placeholder="Name" name="name" ng-model="name" required />

	<div ng-if="!location.$valid">location required</div>
	<input type="text" placeholder="Location" name="location" ng-model="location" required />

	<textarea placeholder="Description" name="description" ng-model="description" />

	photo
	<div ng-if="!name.$valid">photo required</div>
	<input type="file" placeholder="text" name="photo" required />

	<button type="submit">submit</button>
</form>