<h1>{{ data.title }}</h1>

<link rel="stylesheet" href="components/bookable-calendar/bookable-calendar.css">

<div>
<a href="" ng-click="back()">back</a>
<a href="" ng-click="forward()">forward</a>
</div>

<bookable-day day="0" class="bookable-day-15">
</bookable-day>

<bookable-day day="1">
</bookable-day>

<bookable-day day="2">
</bookable-day>

<bookable-day day="3">
</bookable-day>

<bookable-day day="4">
</bookable-day>

<bookable-day day="5">
</bookable-day>

<bookable-day day="6">
</bookable-day>